<div [routerLink]="card.routerLink" style="cursor: pointer; min-width: 35vw; max-width: 50vw;" class="card border-left-{{card.color}} shadow py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-{{card.color}} text-uppercase mb-1">
                    {{card.title}}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{card.description}}</div>
            </div>
            <div class="col-auto">
                <i class="bi {{card.icon}} text-gray-300 fs-3"></i>
            </div>
        </div>
    </div>
</div>