<div class="ltn__404-area ltn__404-area-1 mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-404-inner text-center">
                    <h1 class="error-404-title">403</h1>
                    <h2>Unauthorized!</h2>
                    <p>Oops! Like you don't have the access to view this page. Admin? Try <a routerLink="/auth">logging in</a> with your account</p>
                    <div class="btn-wrapper">
                        <a routerLink="/" class="btn btn-transparent"><i class="fas fa-long-arrow-alt-left"></i> BACK TO HOME</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>