<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="max-height: 100vh;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="">
        <a routerLink="/"><img src="/assets/img/2.png" alt="" style="mix-blend-mode:multiply"></a>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">
            <i class="bi bi-clipboard-data"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <li class="nav-item my-0 py-0">
        <a class="nav-link collapsed d-flex  align-items-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo" routerLink="users">
            <i class="bi bi-person"></i>
            <span>Users</span>
        </a>
    </li>

    <li class="nav-item my-0 py-0">
        <a class="nav-link collapsed d-flex  align-items-center" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities" routerLink="products">
            <i class="bi bi-cart"></i>
            <span>Products</span>
        </a>
    </li>

    <li class="nav-item my-0 py-0">
        <a class="nav-link collapsed d-flex  align-items-center" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities" routerLink="orders">
            <i class="bi bi-car4"></i>
            <span>Orders</span>
        </a>
    </li>
</ul>