<div class="wrapper">
  <div class="ltn__header-area ltn__header-5 ltn__header-transparent gradient-color-2">
    <div class="ltn__header-top-area z-3" style="background-color: white;">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="ltn__top-bar-menu">
              <ul>
                <li><a href="https://maps.app.goo.gl/7Cz3ZPVm2tB45g3U7" target="_blank"><i class="icon-placeholder"></i> Knowledge City, Hyderabad</a></li>
                <li><a href="mailto:info@vatana.com" target="_blank"><i class="icon-mail"></i> info@vatana.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-5">
            <div class="top-bar-right  text-end">
              <div class="ltn__top-bar-menu">
                <ul>
                  <li>
                    <!-- ltn__social-media -->
                    <div class="ltn__social-media">
                      <ul>
                        <li><a style="cursor: pointer;" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a style="cursor: pointer;" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a style="cursor: pointer;" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a style="cursor: pointer;" title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ltn__header-top-area end -->

    <!-- ltn__header-middle-area start -->
    <div
      class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white ltn__logo-right-menu-option sticky-active-into-mobile--- plr--9---"
      style="background-color: white;">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="site-logo-wrap">
              <div class="site-logo">
                <a routerLink="/">
                  <div style="width: 154px;"><img style="mix-blend-mode: multiply;" src="/assets/img/2.png"
                      class="mw-100 h-auto" alt="Logo"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="ltn__header-options ltn__header-options-2">
            <!-- header-search-1 -->
            <div class="header-search-wrap">
              <div class="header-search-1">
                <div class="search-icon">
                  <i class="icon-search for-search-show"></i>
                  <i class="icon-cancel  for-search-close"></i>
                </div>
              </div>
              <div class="header-search-1-form">
                <form id="#" method="get" action="#">
                  <input type="text" name="search" value="" placeholder="Search here...">
                  <button type="submit">
                    <span><i class="icon-search"></i></span>
                  </button>
                </form>
              </div>
            </div>
            <!-- user-menu -->
            <div class="ltn__drop-menu user-menu">
              <ul>
                <li>
                  <a routerLink="/profile"><i class="icon-user"></i></a>
                </li>
              </ul>
            </div>
            <!-- mini-cart -->
            <div class="mini-cart-icon">
              <a routerLink="/cart" href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle ">
                <i class="icon-shopping-cart"></i>
              </a>
            </div>
            <div class="mini-cart-icon">
              <a routerLink="/wishlist" class="ltn__utilize-toggle">
                <i class="bi bi-heart"></i>
              </a>
            </div>
            <!-- mini-cart -->
            <!-- Mobile Menu Button -->
            <div class="mobile-menu-toggle d-xl-none">
              <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                <svg viewBox="0 0 800 600">
                  <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                    id="top"></path>
                  <path d="M300,320 L540,320" id="middle"></path>
                  <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                    id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) ">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="ltn__breadcrumb-area ltn__breadcrumb-area-3 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image plr--9---"
    data-bg="/assets/img/bg/9.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
            <div class="section-title-area ltn__section-title-2">
              <h6 class="section-subtitle ltn__secondary-color">// Welcome to Vatana</h6>
              <h1 class="section-title white-color">Login</h1>
            </div>
            <div class="ltn__breadcrumb-list">
              <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Login</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ltn__login-area pb-65">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title-area text-center">
            <h1 class="section-title fs-1 fw-bold lh-sm">Sign In <br>To Your Account</h1>
            <p>Resume your peassfull shopping <br>
              #FreshAndPeasful</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="account-login-inner">
            <form [formGroup]="loginForm" class="ltn__form-box contact-form-box">
              <span class="text-danger" *ngIf="submissionTried && isEmailUnique()">
                **This email doesn't exist
              </span>
              <input formControlName="userEmail" type="email" placeholder="Email*" id="floatingInput">
              <input formControlName="userPassword" type="password" placeholder="Password*" id="floatingPassword">
              <div class="btn-wrapper mt-0">
                <button class="theme-btn-1 btn btn-block" type="submit" (click)="handleLogin()"
                  [disabled]="loginForm.invalid">SIGN IN</button>
              </div>
              <div class="go-to-btn mt-20">
                <a style="cursor: pointer;"><small>FORGOTTEN YOUR PASSWORD?</small></a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="account-create text-center pt-50">
            <h4>DON'T HAVE AN ACCOUNT?</h4>
            <p>Add items to your cart | Get personalised recommendations <br>
              Check out more quickly | track your orders register</p>
            <div class="btn-wrapper">
              <a routerLink="/auth/register" class="theme-btn-1 btn black-btn">CREATE ACCOUNT</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
          <div class="row">
            <div class="col-xl-3 col-md-6 col-12">
              <div class="ltn__feature-item ltn__feature-item-8">
                <div class="ltn__feature-icon">
                  <img src="/assets/img/icons/icon-img/11.png" alt="#">
                </div>
                <div class="ltn__feature-info">
                  <h4>Curated Products</h4>
                  <p>Provide Curated Products for
                    all product over $100</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
              <div class="ltn__feature-item ltn__feature-item-8">
                <div class="ltn__feature-icon">
                  <img src="/assets/img/icons/icon-img/12.png" alt="#">
                </div>
                <div class="ltn__feature-info">
                  <h4>Handmade</h4>
                  <p>We ensure the product quality
                    that is our main goal</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
              <div class="ltn__feature-item ltn__feature-item-8">
                <div class="ltn__feature-icon">
                  <img src="/assets/img/icons/icon-img/13.png" alt="#">
                </div>
                <div class="ltn__feature-info">
                  <h4>Natural Food</h4>
                  <p>Return product within 3 days
                    for any product you buy</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
              <div class="ltn__feature-item ltn__feature-item-8">
                <div class="ltn__feature-icon">
                  <img src="/assets/img/icons/icon-img/14.png" alt="#">
                </div>
                <div class="ltn__feature-info">
                  <h4>Free home delivery</h4>
                  <p>We ensure the product quality
                    that you can trust easily</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="footer-top-area  section-bg-1 plr--5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-about-widget">
            <div class="footer-logo">
              <div class="site-logo">
                <img src="/assets/img/2.png" alt="Logo" style="mix-blend-mode: multiply;">
              </div>
            </div>
            <p>We believe in Vatana Forever. #Peas #Happea.</p>
            <div class="footer-address">
              <ul>
                <li>
                  <div class="footer-address-icon">
                    <i class="icon-placeholder"></i>
                  </div>
                  <div class="footer-address-info">
                    <p>Knowledge City, Hyderabad, India</p>
                  </div>
                </li>
                <li>
                  <div class="footer-address-icon">
                    <i class="icon-call"></i>
                  </div>
                  <div class="footer-address-info">
                    <p><a href="tel:+0123-456789">+0123-456789</a></p>
                  </div>
                </li>
                <li>
                  <div class="footer-address-icon">
                    <i class="icon-mail"></i>
                  </div>
                  <div class="footer-address-info">
                    <p><a href="mailto:info@vatana.com">info@vatana.com</a></p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="ltn__social-media mt-20">
              <ul>
                <li><a style="cursor: pointer;" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a style="cursor: pointer;" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a style="cursor: pointer;" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                <li><a style="cursor: pointer;" title="Youtube"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">Company</h4>
            <div class="footer-menu">
              <ul>
                <li><a routerLink="/">About</a></li>
                <li><a routerLink="/">Blog</a></li>
                <li><a routerLink="/shop">All Products</a></li>
                <li><a routerLink="/">Locations Map</a></li>
                <li><a routerLink="/">FAQ</a></li>
                <li><a routerLink="/">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">Services.</h4>
            <div class="footer-menu">
              <ul>
                <li><a routerLink="/wishlist">Wish List</a></li>
                <li><a routerLink="/auth/login">Login</a></li>
                <li><a routerLink="/auth/register">Register</a></li>
                <li><a routerLink="/profile">My account</a></li>
                <li><a routerLink="/">Terms &amp; Conditions</a></li>
                <li><a routerLink="/">Promotional Offers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">Customer Care</h4>
            <div class="footer-menu">
              <ul>
                <li><a routerLink="/auth/login">Login</a></li>
                <li><a routerLink="/profile">My account</a></li>
                <li><a routerLink="/wishlist">Wish List</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">
          <div class="footer-widget footer-newsletter-widget">
            <h4 class="footer-title">Newsletter</h4>
            <p>Subscribe to our weekly Newsletter and receive updates via email.</p>
            <div class="footer-newsletter">
              <div id="mc_embed_signup">
                <form
                  action="https://gmail.us5.list-manage.com/subscribe/post?u=dde0a42ff09e8d43cad40dc82&amp;id=72d274d15d"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank" novalidate="">
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                        placeholder="Email*">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_dde0a42ff09e8d43cad40dc82_72d274d15d" tabindex="-1" value=""></div>
                    <div class="clear">
                      <div class="btn-wrapper">
                        <button class="theme-btn-1 btn" type="submit" value="Subscribe" name="subscribe"
                          id="mc-embedded-subscribe"><i class="fas fa-location-arrow"></i></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <h5 class="mt-30">We Accept</h5>
            <img src="/assets/img/icons/payment-4.png" alt="Payment Image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ltn__copyright-area ltn__copyright-2 section-bg-2  ltn__border-top-2--- plr--5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="ltn__copyright-design clearfix">
            <p>All Rights Reserved @ Vatana <span class="current-year"></span></p>
          </div>
        </div>
        <div class="col-md-6 col-12 align-self-center">
          <div class="ltn__copyright-menu text-end">
            <ul>
              <li><a style="cursor: pointer;">Terms &amp; Conditions</a></li>
              <li><a style="cursor: pointer;">Claim</a></li>
              <li><a style="cursor: pointer;">Privacy &amp; Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>